<h1 class="text-center">All Articles</h1>
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-lg-6 col-md-8 col-sm-12">
		<%= link_to "Create new Article", new_article_path,class:"btn btn-success crte_btn" %>
			<% @articles.each_with_index do |article,index| %>
				<div class="card text-center">
					<div class="card-header">
						by <%= article.user.username %>
					</div>
					<div class="card-body">
						<h5 class="card-title"><%= link_to "#{article.title}", article_path(article),class:"" %></h5>
						<p class="card-text"><%= truncate(article.description,length: 50) %></p>
						<p><%= link_to "View", article_path(article),class:"btn btn-outline-success" %>  <%= link_to "Edit", edit_article_path(article),class:"btn btn-outline-primary"%>  <%= link_to "Delete", article_path(article),class:"btn btn-outline-danger",method: :delete, data: { confirm: 'Are you sure?' } %></p>
					</div>
					<div class="card-footer text-muted">
						<small>created <%= time_ago_in_words(article.created_at)%> ago, updated <%= time_ago_in_words(article.updated_at)%> ago</small>
					</div>
				</div>
			<% end %>

		</div>
	</div>
</div>
