<div class="container">
	<h1  class="text-center mt-4"><%= @user.username %>'s profile</h1>
	<%= gravatar_for @user,size:150 %>
	<p class="text-center mt-4">
		<%if isLoggedin%>
			<% if @user==current_user%>
				<%= link_to "Edit Profile", edit_user_path(@user),class:"btn btn-outline-primary"%>
			<% end%>
			<% if (@user==current_user || current_user.admin?) %> <%= link_to "Delete Profile", user_path(@user),class:"btn btn-outline-danger",method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end%>
		<%end%>
	</p>
	<h3 class="text-center mt-4">Articles</h3>
	<div class="row justify-content-md-center">
		<div class="col-lg-6 col-md-8 col-sm-12">
			<div class="flickr_pagination">
				<%= will_paginate @articles, :container => false %>
			</div>
			<% @articles.each_with_index do |article,index| %>
				<%= render 'articles/article',article:article %>
			<% end %>
			<div class="flickr_pagination">
				<div class="page_info">
					<%= page_entries_info @articles %>
				</div>
				<%= will_paginate @articles, :container => false %>
			</div>
		</div>
	</div>
</div>
